
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
*{
    list-style: none;
    text-decoration: none;
    font-family: 'Dosis';

}




body{
    background: #eee;

}

.categories{
    background: #393E46;
    margin-right: auto;
    max-width: 1281px;
    padding-left: 25px;
    padding-right: 25px;
    flex: 1;
    padding-bottom: 27px;

}


@media only screen and (max-width: 696px){
    .containerr{
        max-width: 880px;

    }
    .fixed-footer{
        margin-top: 0px;
    }


}





.columns{
    padding: 10px;
    width: 20%;
    margin-bottom: 50px;
    border-radius: 35px;
    background: #fff;
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;

    
}




.columns img{
    width: 100%;
}

.row{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.titles{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.price{
    text-align: center;
    font-size: 16px;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.btns a{
    padding-right: 20px;
    padding-left: 20px;
}

.btns .plus,.minus{
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.btns .plus:hover{
    background-color: #00ADB5;
}

.btns .minus:hover{
    background-color: #00ADB5;
}



.btns .button1{
    background-color: white;
    color: rgb(190, 44, 44);
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    border: 1px solid rgb(190, 44, 44);
    width: 120px;
}

.button1:hover{
    background-color: rgb(190, 44, 44);
    color: white;
}

.head-title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    margin: 0;
    position: relative;
    color: #EEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.sidenav {
    margin-left: auto;
    flex: 0 0 10%;
    max-width: 200px;
    background-color: #222831;
    box-shadow: 2px 7px 10px #d6d6d6;
    
  }

.sidenav ul a{
    display: block;
    margin-top: 70px;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}
  
.sidenav ul li{

font-family: Dosis;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #EEEEEE;
margin-right: 30px;
}


.containerr{
    margin-top: 120px;
    display: flex;

    
}






.popup .overlay {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content{
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%) scale(0);
    background: #fff;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    
}

.popup .content img{
float: left;
  width: 40%;
  flex: 0 0 10%;
}



.popup .content .upper-popup{
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    float:right;
    flex: 1;
    font-size: 20px;
}


.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}


.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}





.shopping-cont{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}


.fixed-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #303338;
    color: white;
    transform: scale(0);
    z-index: 1;

}

.fixed-footer li {
    display: inline-block;
    padding: 10px 35px;
    margin-right: 10px;
    margin: 10px;
    font-size: 20px;
    
}

.fixed-footer a{
    margin: 20px;
    padding: 9px 25px;
    margin-right: 45px;
    border-radius: 20px;
    border:none;
    font-size: large;
    color: white;
    background-color: #00ADB5;
    float: right;
}

.fixed-footer a:hover{
    cursor: pointer;
    background-color: #17848a;
}



.shopping-cart{
    max-width: 100px;
    border: 2px solid black;
    float: right;
    position: fixed;
    top: 150px;
    right: 100px;

}



.d-flex{
    position: relative;
    justify-content: center;
    display:flex;
    margin-top: 25px;

}


.d-flex .search-bar{
    padding: 8px;
    max-width: 950px;
    width: 950px;
    text-align: left;
    font-size: 15px;


    
}

.d-flex button{
    align-items: center;
    
    
}
