@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Dosis, sans-serif;
    background-color: #EEEEEE;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

input {
    color: white;
    font-family: Dosis, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.consultation_container {
    position: absolute;
    display: flex;
    border-radius: 30px;
    background-color: #393E46;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: #222831;
    border-radius: 30px 0 0 30px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar_column {
    display: flex;
    position: absolute;
    border-radius: 30px 0 0 30px;
    width: 33.3333333%;
    align-items: flex-end;
    background-color: #222831;
}

.sidebar_column:hover {
    background-color: #393E46;
}

.on {
    background-color: #393E46;
}

.sidebar_column p {
    padding: 2.5% 10%;
    font-weight: 500;
    font-size: 18px;
}

.myappointment_div{
    margin-top: 132.5%;
    display: flex;
    justify-content: center;
}

.appointment_button{
    background-color: #00ADB5;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    text-align: center;
    font-weight: 500;
}

#chat {
    position: absolute;
    height: 40%;
}

#chat_log {
    position: absolute;
    height: 85%;
}

#chat_on {
    height: 30%;
}

#schedule {
    position: absolute;
    height: 40%;
}

#schedule_on {
    height: 100%;
}

#schedule_on2 {
    height: 30%;
}

.consultation_logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 33.3333333333%;
    flex: 1;
    background-color: #00ADB5;
    border-radius: 30px 0 0 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.consultation_logo p {
    font-size: 30px;
    font-weight: bold;
}

.consultation_logo img {
    width: 64px;
    height: auto;
}

#short {
    height: 15%;
}

#short img {
    width: 50px;
}

.content {
    flex: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select_doctor {
    width: 500px;
    overflow: hidden;
}

.doctor_menu_schedule{
    height: 42.5%;
    display: flex;
    flex-wrap: nowrap;
    gap: 7px 10px;
    align-content: space-between;
    justify-content: center;
}

.select_hospital {
    height: 42.5%;
    width: 85%;
    margin: 1% 0;
    border-radius: 15px;
    background-color: #222831;
}

.select_hospital2 {
    height: 90%;
    width: 85%;
    margin: 1% 0;
    border-radius: 15px;
    background-color: #222831;
}

.submit_button {
    background-color: #00ADB5;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    text-align: center;
    font-weight: 500;
}

.chat_header {
    width: 100%;
    height: 15.58%;
    background-color: #222831;
}

.dialogue {
    width: 100%;
    height: 70%;
}

.message_input {
    display: flex;
    width: 100%;
    height: 7%;
    margin: 4%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
}

.message_input p {
    margin: 0;
    width: 100%;
}

.message_input input {
    width: 96%;
}

.send_button {
    background-color: #00ADB5;
    border-radius: 15px;
    width: 50px;
    padding: 5px;
    align-items: center;
    text-align: center;
}

.doctor_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 7px 10px;
    align-content: space-between;
    justify-content: center;
}

.doctor_card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    border-radius: 15px;
}

.doctor_card_appointment {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
}

.doctor_card_appointment:hover {
    background-color: #00ADB5;
}

.clicked {
    background-color: #00ADB5;
}

#doctor_name {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
}

.doctor_img {
    width: 70px;
    height: 50px;
    object-fit: cover;
    object-position: 60% 10%;
    border-radius: 5px;
}

.online_sw {
    width: 10px;
    height: 10px;
    background-color: rgb(62, 255, 62);
    border-radius: 5px;
}

.offline_sw {
    width: 10px;
    height: 10px;
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
}

.doc_rating {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#status {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ajax_hospital{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ajax_container{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.hospital_card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #232529;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
}