<!DOCTYPE html>
<html lang="en">
<style>
    body{
        overflow-x: hidden;
    }
    .card {
      width: auto;
      background: black;
      box-shadow: 0 0 15px;
      height: 500px;
      margin: auto;
    }
    .card img{
        width: 100%;
        height: 30%;
        border-radius: 10px 10px 0 0;
    }
    .card-body{
        padding: 10px 20px;
    }

    .card-body button{
        outline: none;
        padding: 10px 15px;
        font-weight: bold;
    }

    #article_box {
        height: 40px;
    }

    .container {
        margin-bottom: 200px;
    }
    
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>News</title>
</head>
{% include 'navbarhomepage.html' %}
<body>
    
    {% block content %}
    <div style="margin-left:50px; padding-bottom: 20px; padding-top: 60px;"> <a href="{% url 'article:artikel' %}" style="color:black" >&lt Back to Form</a></div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        {% if article %}
        {% for i in article %}
        <div class="col">
          <div class="container text-black" style="width: 20rem;">
              <div class="card">
                <img src="https://cdn-2.tstatic.net/tribunnews/foto/bank/images/update-covid-19-update-corona-update-virus-corona-ilustrasi-update.jpg" alt="https://kkpambon.com/wp-content/uploads/2015/03/banner.png">
                  <div class="card-header">
                      {{ i.title }}
                  </div>
                  <div class="card-body">
                      <p class="card-text">{{i.article|truncatechars:100}} </p>
                      <h5 class="card-text"> {{i.source|truncatechars:30}} </h5>
                  </div>
                  <div class="card-footer">
                    <a href="{{ i.source }}">Read More</a>
                    <small>{{ i.datetime }}</small>
                  </div>
                  
              </div>
              <div class="text-center">
              </div>
          </div>
      </div>
      {% endfor %}
      {% endif %}
  </div>
  
  {% endblock %}   
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js%22%3E"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% include 'footer.html' %}

</html>