<!DOCTYPE html>
<html lang="en">
  <style>
    body{
      
      margin: 0;
    }
    /* h1{
          text-width: bolder !important;
          font-size: 75px;
          text-align: center;
          font-family: Dosis;
          padding-top: 270px;
  
      } */
  
      form {
          width: 25%;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          font-family: Dosis;
          margin-top: 190px;
          margin-bottom: 243px;
      }
  
      #article {
          height: 150px;
          
          
      }
      .form-control{
          font-family: Dosis;
          border-radius: 80px;
          font-size: 24px;
      }
  
      .button {
          border-radius: 80px;
          border: none;
          font-size: 24px;
          padding: 2px 20px;
          margin : -10px 10px;
          transition-duration: 0.4s;
          cursor: pointer;
      }
  
      #button1 {
          background-color: #00ADB5;
      }
  
  
      #button1:hover {
          background-color: #4CAF50;
          color: white;
      }
  
      #button2:hover {
          background-color: #f44336;
          color: white;
      }
      .submissionfield { width: 90px; height: 390px; border: 1px solid #999999; padding: 5px; }
  </style>
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Article</title>
</head>
{% include 'navbarhomepage.html' %}
<body>
  {% block content %}
  <div class="cointer">
    <form method="POST" id="post-form"> 
      <h1>Submit Form</h1>
      {% csrf_token %}
      <div class="form-group">
          <div class="col">
              <input type="text" class="form-control" placeholder="Title" name="title" id="title"><br>
          </div>
          <div class="col" style="margin-bottom: 15px;">
            <textarea cols="40" rows="20" placeholder="Type article here" class = "form-control add-form" name="article" id="article"></textarea>
        </div>
          <div class="col">
            <input type="url" class="form-control" placeholder="Source " name="source" id="source"><br>
          </div>
          
      </div>
      <input type ="submit" class="button" id="button1" value="Submit">
      <input type="reset" class="button" id="button2" value="Clear" href="/">
      </form>
  </div>
  
  
{% endblock %}  

</body>
<footer>
  {% include 'footer.html' %}
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js%22%3E"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script>
$(document).on('submit','#post-form',function(e) {
  e.preventDefault();

    $.ajax({
      type:'POST',
      url: "create",
      data:{
        title:$('#title').val(),
        article:$('#article').val(),
        source:$('#source').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (response) {
        alert("Updated");
      },  
    });
});
   
  
</script>
</html>