*{
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: auto;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
    background-color: #EEEEEE;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
}

a{
    text-decoration: none;
}

#slider-container{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide{
    width: 750px !important; /* make preview of the next recommendation */
    margin: 50px;
}

.slider-img{
    width:250px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider-details{
    padding: 20px;
    background: #222831;
    width: 500px;
    border-radius: 0px 10px 10px 0px;
}

.slider-details strong{
    color: #EEEEEE;
    font-size: 1.2rem;
    font-weight: 600;
}

.slider-details p{
    color: #EEEEEE;
    font-size: 0.9rem;
    margin: 10px 0px 10px 0px;
}

.card-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.card-btns a{
    min-width: 160px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    font-size: 0.9rem;
}

.Store-btn{
    background-color: #00ADB5;
}

.Store-btn i{
    margin-right: 10px;
}

.Buy-btn{
    color: #EEEEEE;
    background-color: #00ADB5;
    border: 1px solid #363636;
}

.Buy-btn i{
    margin-right: 10px;
}

.card-btns a:hover{
    background-color: #f8346f;
    transition: all ease 0.3s;
    color: #EEEEEE;
    border: none;
    opacity: 1;
}
