<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <title>Schedule an Appointment</title>
</head>
<body>
{% include "navbarhomepage.html" %}
    <div class="container">
        <div class="consultation_container">

            <div class="sidebar">            
                <a href="https://heyheydoc.herokuapp.com/consultation/schedule-an-appointment/"><div class="sidebar_column on" id='schedule_on2'>
                    <p>Schedule an Appointment</p>
                </div></a>
                <a href="https://heyheydoc.herokuapp.com/consultation/"><div class="consultation_logo" id='short'>
                    <img src="{% static 'stethoscope.png' %}" alt="Stethoscope consultation logo">
                    <p>Consultation</p>
                </div></a>
                <div class="myappointment_div">
                    <a href="result/"><div class="appointment_button">My Appointments</div></a>
                </div>
                
            </div>
             
            <div class="content">
                <div class="select_doctor">
                    <div class="doctor_menu_schedule">
                    {% if doctors %}
                        {% for doctor in doctors %}
                            <div class="doctor_card_appointment" id="{{ doctor.pk }}">
                                <img class="doctor_img" src="{{ doctor.image.url }}">
                                <p id="doctor_name">{{ doctor.name }}</p>
                                <div class="doc_rating"><div id="status">{% if doctor.status %} <div class="online_sw"></div> Online{% else %}<div class="offline_sw"></div>Offline{% endif %}</div><div id="rating">{{ doctor.rating }}%</div></div>
                                <p id="doctor_spec">{{ doctor.specialization }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    </div>
                </div>

                
                    <div class="select_hospital">
                        
                        <div class="ajax_hospital">
                            
                        </div>
                        
                    </div>
                    
                <form action="", method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="doctor" id="input_doctor">
                    <input type="hidden" name="hospital" id="input_hospital">
                    <input type="hidden" name="date" id="input_date">
                    <input type="hidden" name="time" id="input_time">
                    <div class="bottom_text">
                        <input type="submit" class="submit_button" value="Make Appointment">
                    </div>
                </form>
                
            </div>
                
        </div>
    </div>
    
</body>
{% include 'footer.html' %}
</html>