<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Schedule an Appointment</title>
</head>
<body>
{% include "navbarhomepage.html" %}
    <div class="container">
        <div class="consultation_container">

            <div class="sidebar">            
                <a href="https://heyheydoc.herokuapp.com/consultation/schedule-an-appointment/"><div class="sidebar_column on" id='schedule_on2'>
                    <p>Schedule an Appointment</p>
                </div></a>
                <a href="https://heyheydoc.herokuapp.com/consultation/"><div class="consultation_logo" id='short'>
                    <img src="{% static 'stethoscope.png' %}" alt="Stethoscope consultation logo">
                    <p>Consultation</p>
                </div></a>
                <div class="myappointment_div">
                    <a href=""><div class="appointment_button">My Appointments</div></a>
                </div>
                
            </div>
            
            <div class="content">
                

                <div class="select_hospital2">
                    <table>
                        <tr class="schedule">
                            <td>Date</td>
                            <td>Doctor</td>
                            <td>Hospital</td>
                            <td>Time</td>
                        </tr>
                    


                    {% if schedules %}
                        {% for schedule in schedules %}
                            <tr class="schedule">
                                <td>{{ schedule.date}}</td>
                                <td>{{ schedule.doctor.name}}</td>
                                <td>{{ schedule.hospital}}</td>
                                <td>{{ schedule.time}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</body>
{% include 'footer.html' %}
</html>