<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>Chat a Doctor</title>
</head>
<body>
    <div class="container">
        <div class="consultation_container">

            <div class="sidebar">            
                <a href="http://localhost:8000/schedule-an-appointment/"><div class="sidebar_column" id='schedule_on'>
                    <p>Schedule an Appointment</p>
                </div></a>
                <div class="sidebar_column on" id="chat_log">
                </div>
                <a href="http://localhost:8000/chat-a-doctor/"><div class="sidebar_column on" id='chat_on'>
                    <p>Chat a Doctor</p>
                </div></a>
                <a href="http://localhost:8000/"><div class="consultation_logo" id='short'>
                    <img src="{% static 'stethoscope.png' %}" alt="Stethoscope consultation logo">
                    <p>Consultation</p>
                </div></a>
            </div>
            
            <div class="content">
                <div class="chat_header">
                </div>
                <div class="dialogue">
                </div>
                <div class="message_input">
                    <p><input type="text"></p>
                    <div class="send_button">send</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>