<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <title>Consultation</title>
</head>
<body>
{% include "navbarhomepage.html" %}
    <div class="container">
        <div class="consultation_container">

            <div class="sidebar">            
                <a href="https://heyheydoc.herokuapp.com/consultation/schedule-an-appointment/"><div class="sidebar_column" id='schedule'>
                    <p>Schedule an Appointment</p>
                </div></a>
                <a href="https://heyheydoc.herokuapp.com/consultation/"><div class="consultation_logo">
                    <img src="{% static 'stethoscope.png' %}" alt="Stethoscope consultation logo">
                    <p>Consultation</p>
                </div></a>
            </div>
            
            <div class="content">
                <div class="doctor_menu">

                {% if doctors %}
                    {% for doctor in doctors %}
                        <div class="doctor_card">
                            <img class="doctor_img" src="{{ doctor.image.url }}">
                            <p id="doctor_name">{{ doctor.name }}</p>
                            <div class="doc_rating"><div id="status">{% if doctor.status %} <div class="online_sw"></div> Online{% else %}<div class="offline_sw"></div>Offline{% endif %}</div><div id="rating">{{ doctor.rating }}%</div></div>
                            <p id="doctor_spec">{{ doctor.specialization }}</p>
                        </div>
                    {% endfor %}
                {% endif %}

                </div>
            </div>
        </div>
    </div>
</body>
{% include 'footer.html' %}
</html>