{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesuggestions.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Suggestions</title>
</head>

<body>
    {%include "navbarhomepage.html"%}
    {%block content%}
    <div class="frame">
        <form action="" method="POST" id="ajaxform">
            {% csrf_token %}
            <div class="container-1">
                <h1 class="title">Rate your experience!</h1>
                <div class="name">
                    <input name="name" type="text" placeholder="Enter Name" maxlength="24" id="name" required>
                </div>
                <div class="rating" >
                    <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" required/>
                    <label for="star5">☆</label>
                    <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" required/>
                    <label for="star4">☆</label>
                    <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" required/>
                    <label for="star3">☆</label>
                    <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" required/>
                    <label for="star2">☆</label>
                    <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" required/>
                    <label for="star1">☆</label>
                    <div class="clear"></div>
                </div>
                <div>
                    <textarea name="text" type="text" placeholder="Enter Text" maxlength="128" class="textbox" rows="5" required></textarea>
                </div>
                <input class="button" type="submit" value="Submit">
            </div>
        </form>
        <div class="bottom_panel">
            <div class="layout1">
                <h1 class="title">Frequently Asked Questions</h1>

                <button class="question" data-bs-toggle="modal" data-bs-target="#Modal_1"><p>I don't know what medicine to use?</p></button>
                <div class="modal fade" id="Modal_1" tabindex="-1" aria-labelledby="ModalLabel_1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="background-color: #222831; border-radius: 36px;">
                            <div class="modal-header" >
                                <h5 class="modal-title" id="ModalLabel_1" style="color: white;">I don't know what medicine to use?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="color: white; text-align: left">
                                <p>If you don't know or not sure what medicine to buy, you can visit the consultation section. This section will have you talk to professional doctors with your problem. The doctors should be able to recommend the right medicine for you.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #008d94; border-radius: 36px; border: none;">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                
                <button class="question" data-bs-toggle="modal" data-bs-target="#Modal_2"><p>Can I change my password?</p></button>
                <div class="modal fade" id="Modal_2" tabindex="-1" aria-labelledby="ModalLabel_2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="background-color: #222831; border-radius: 36px;">
                            <div class="modal-header" >
                                <h5 class="modal-title" id="ModalLabel_2" style="color: white;">Can I change my password?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="color: white; text-align: left">
                                <p>For now, the password of your account cannot be changed. The only way is to create a new account</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #008d94; border-radius: 36px; border: none;">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button class="question" data-bs-toggle="modal" data-bs-target="#Modal_3"><p>How do I create an account?</p></button>
                <div class="modal fade" id="Modal_3" tabindex="-1" aria-labelledby="ModalLabel_3" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="background-color: #222831; border-radius: 36px;">
                            <div class="modal-header" >
                                <h5 class="modal-title" id="ModalLabel_3" style="color: white;">How do I create an account?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="color: white; text-align: left">
                                <p>1. On the navigation bar, click on Account</p>
                                <p>2. A drop down menu should appear, click on Registration</p>
                                <p>3. Insert all the required information and click Submit</p>
                                <p>4. The account has been created and can be used to login to the website</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #008d94; border-radius: 36px; border: none;">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="question" data-bs-toggle="modal" data-bs-target="#Modal_4"><p>How do I order on HeyDoc?</p></button>
                <div class="modal fade" id="Modal_4" tabindex="-1" aria-labelledby="ModalLabel_4" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="background-color: #222831; border-radius: 36px;">
                            <div class="modal-header" >
                                <h5 class="modal-title" id="ModalLabel_4" style="color: white;">How do I order on HeyDoc?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="color: white; text-align: left">
                                <p>1. Login into your account</p>
                                <p>2. Click the medicine tab on the navigation bar</p>
                                <p>3. Click buy medicine</p>
                                <p>4. Pick the medicine</p>
                                <p>5. Click add to cart on the bottom right of your screen</p>
                                <p>6. Click on the shopping cart on right side</p>
                                <p>7. Proceed to checkout</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #008d94; border-radius: 36px; border: none;">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout2">
                <h1 class="title">Overall Rating</h1>
                <h1 id="ratingtitle">{{rating.star__avg}} <label id="totalstar">☆</label></h1>
                <p id="totalreviews">{{total_submissions}} Reviews</p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/form.js' %}"></script>
    {%endblock%}
</body>
{%include "footer.html"%}

</html>
