{% include 'navbarhomepage.html'%}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0, maximum-scale=1.0" />
    <title>Covid Drugs Recommendation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_covid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'swiper.min.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'websitelogo.png' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
    {% block body %}
    <h1>Covid Drugs Recommendation</h1>
    <!--container buat section ntar-->
    <section id="slider-container">
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <!--slider-1-->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <!--foto-->
                        <div class="slider-img">
                            <img src="{% static '1.JPG' %}" alt="poster" />
                        </div>

                        <!--obat-->
                        <div class="slider-details">
                            <!--Drug---->
                            <strong>VIT C</strong>

                            <!--Drug-details-->
                            <p>
                                Vitamin C is an antioxidant-rich vitamin with anti-inflammatory properties. Furthermore, vitamin C boosts the body's immune system, which may aid in the battle against the SARS-CoV-2 virus. According to one research, people with moderate symptoms who
                                took vitamin C had a 50% improvement in symptoms after an average of 6 days. However, in this research, only a limited number of samples were used, and there were fewer control samples. As a result, additional research
                                into the usefulness of vitamin C for the body when exposed to Covid-19 is required.
                            </p>

                            <!--button-->
                            <div class="card-btns">
                                <a href="/buy/category/V/" class="Buy-btn"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                                <a href="/buy/" class="Store-btn"><i class="fas fa-store-alt"></i> Shop</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--slider-1-->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <!--foto-->
                        <div class="slider-img">
                            <img src="{% static '2.jpg' %}" alt="poster" />
                        </div>

                        <!--obat-->
                        <div class="slider-details">
                            <!--Drug---->
                            <strong>VIT D</strong>

                            <!--Drug-details-->
                            <p>
                                According to a study published in the NCBI, vitamin D may boost T cells, which fight infections. Furthermore, vitamin D deficiency increases cytokines, which cause pneumonia and exacerbate COVID-19 symptoms. Vitamin D is a dietary supplement that is used
                                to prevent and cure vitamin D insufficiency. Vitamin D is a fat-soluble vitamin that is required in the body to aid in the absorption of calcium and phosphorus.
                            </p>

                            <!--button-->
                            <div class="card-btns">
                                <a href="/buy/category/V/" class="Buy-btn"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                                <a href="/buy/" class="Store-btn"><i class="fas fa-store-alt"></i> Shop</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--slider-1-->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <!--foto-->
                        <div class="slider-img">
                            <img src="{% static '3.jpg' %}" alt="poster" />
                        </div>

                        <!--obat-->
                        <div class="slider-details">
                            <!--Drug-->
                            <strong>PARACETAMOL</strong>

                            <!--Drug-details-->
                            <p>
                                Acetaminophen, often known as paracetamol, is a medicine that is used to treat fever and mild to moderate discomfort.
                                Patients who are self-isolating and have moderate symptoms such as fever might take pain relievers or fever-reducing paracetamol.
                                Paracetamol at a dosage of 500 mg three times a day is indicated for Covid-19 users. If you have a fever, take this medication.
                            </p>

                            <!--button-->
                            <div class="card-btns">
                                <a href="/buy/category/F/" class="Buy-btn"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                                <a href="/buy/" class="Store-btn"><i class="fas fa-store-alt"></i> Shop</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--slider-1-->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <!--foto-->
                        <div class="slider-img">
                            <img src="{% static '4.jpg' %}" alt="poster" />
                        </div>

                        <!--obat-->
                        <div class="slider-details">
                            <!--Drug---->
                            <strong>OSELTAMIVIR</strong>

                            <!--Drug-details-->
                            <p>
                                Tamiflu, a brand name for oseltamivir, is an antiviral drug used to treat and prevent influenza A and B. Many medical organisations prescribe treatment within 48 hours of the first signs of infection in persons who have problems or are at high risk of consequences.
                                Oseltamivir is a neuraminidase inhibitor medicine that may be used to prevent the transmission of the flu virus.
                                In Covid-19 patients, oseltamivir may help reduce flu symptoms such as stuffy or runny nose, sore throat, cough, discomfort, and exhaustion.
                                Patients with Covid-19 should take Oseltamivir at a dosage of 75 grammes twice a day.
                            </p>

                            <!--button-->
                            <div class="card-btns">
                                <a href="/buy/category/C/" class="Buy-btn"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                                <a href="/buy/" class="Store-btn"><i class="fas fa-store-alt"></i> Shop</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--slider-1-->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <!--foto-->
                        <div class="slider-img">
                            <img src="{% static '5.jpg' %}" alt="poster" />
                        </div>

                        <!--obat-->
                        <div class="slider-details">
                            <!--Drug-->
                            <strong>Azithromycin</strong>

                            <!--Drug-details-->
                            <p>
                                Azithromycin is an antibiotic that is used to treat a variety of bacterial illnesses.
                                Although Covid-19 is a viral infection, there is often a secondary infection caused by bacteria in many instances of Covid. 
                                This medication may be administered to individuals who have moderate to severe symptoms and are suspected of having a bacterial infection. 
                                The doctor will assess whether or not the patient need this medication.
                            </p>

                            <!--buttons-->
                            <div class="card-btns">
                                <a href="/buy/category/C/" class="Buy-btn"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                                <a href="/buy/" class="Store-btn"><i class="fas fa-store-alt"></i> Shop</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--slider-1-->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <!--foto-->
                        <div class="slider-img">
                            <img src="{% static '6.jpg' %}" alt="poster" />
                        </div>

                        <!--obat-->
                        <div class="slider-details">
                            <!--Drug-->
                            <strong>ZINC</strong>

                            <!--Drug-details-->
                            <p>
                                A high intracellular zinc content is thought to be capable of inhibiting viral RNA replication. 
                                A small research found that combining zinc with vitamin C helped improve patients' symptoms by up to 50% on day 5. 
                                However, the research used a tiny sample size and lacked control samples. 
                                As a result, no link has been shown between zinc intake and the rate of cure for Covid-19 infection.
                            </p>

                            <!--buttons-->
                            <div class="card-btns">
                                <a href="/buy/category/C/" class="Buy-btn"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                                <a href="/buy/" class="Store-btn"><i class="fas fa-store-alt"></i> Shop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
        <!--Section Untuk Update Terbaru-->
    </section>
    <h1>Latest Update Covid-19 in Indonesia</h1>
    <section>
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <!--slider-1-->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <!--foto-->
                        <div class="slider-img">
                            <img src="{% static 'bdr.jpg' %}" alt="poster" />
                        </div>
                        <div class="slider-details">
                            <!--Title---->
                            <strong>Indonesia's Covid-19 Case Update</strong>

                            <!--Case-details-->
                            <p>
                                <i class="fas fa-check-double"></i> Confirmed Case :
                                <!--Memanggil Nilai Dari Id Positif-->
                                <span id="positif"></span>
                            </p>
                            <p>
                                <i class="fas fa-procedures"></i> Treated :
                                <!--Memanggil Nilai Dari Id Dirawat-->
                                <span id="dirawat"></span>
                            </p>
                            <p>
                                <i class="fas fa-user-injured"></i> Death Case :
                                <!--Memanggil Nilai Dari Id Meninggal-->
                                <span id="meninggal"></span>
                            </p>
                            <p>
                                <i class="fas fa-user-check"></i> Healed :
                                <!--Memanggil Nilai Dari Id Sembuh-->
                                <span id="sembuh"></span>
                            </p>
                            <!--button-->
                            <div class="card-btns">
                                <a class="Buy-btn"><i class="fas fa-info-circle"></i> Keep Updates</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        <!--PEMBUATAN AJAX API-->
        <script>
            setInterval(() => {
                
            $.ajax({
                //Ajax Type Get
                type: "GET",
                //Mengambil API dari url dibawah (Dipastikan data akurat dan sama dengan kawal corona)
                url: "https://apicovid19indonesia-v2.vercel.app/api/indonesia",
                //Deklarasi Data
                data: {},
                //Fungsi Untuk Hasil Jika Data Sukses Di Akses
                success: function(result) {
                    //Mendeklarasikan Id positif
                    $("#positif").text(result.positif);
                    //Mendeklarasikan Id dirawat
                    $("#dirawat").text(result.dirawat);
                    //Mendeklarasikan Id Meninggal
                    $("#meninggal").text(result.meninggal);
                    //Mendeklarasikan Id Sembuh
                    $("#sembuh").text(result.sembuh);
                },
            });
            }, 1);
        </script>
    </section>

    <script type="text/javascript" src="{% static 'swiper.min.js' %}"></script>

    <!--script for swiper from swiperjs.com-->
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            autoplay: {
                delay: 7500,
            },
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: false,
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });
    </script>

</body>
{% include 'footer.html' %}
</html>
