<!DOCTYPE html>
<html lang="en">
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles_buy.css">
    <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <head>
    <title></title>
  </head>
  <body onload="refresh({{values_category}})">
    {% include "navbarhomepage.html" %}
    {% block content %}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
      <div class="containerr">
        <div class="sidenav">
            <ul>
              
               <li><a href="{% url 'category' 'all' %}" id = "all">All Product </a></li>
               <li><a href="{% url 'category' 'C' %}" value = "C" id = "C" onclick = "category(id)">Covid-19</a></li>
               <li><a href="{% url 'category' 'A' %}" value = "A" id = "A" onclick = "category(id)">Alergi</a></li>
               <li><a href="{% url 'category' 'H' %}" value = "H" id = "H" onclick = "category(id)">Herbal</a></li>
               <li><a href="{% url 'category' 'V' %}" value = "V" id = "V" onclick = "category(id)">Vitamin</a></li>
               <li><a href="{% url 'category' 'F' %}" value = "F" id = "F" onclick = "category(id)">Flu</a></li>
               <li><a href="{% url 'category' 'S' %}" value = "S" id = "S" onclick = "category(id)" >Suplemen Makanan</a></li>
               <li><a href="{% url 'category' 'I' %}" value = "I" id = "I" onclick = "category(id)" >Kebutuhan Ibu</a></li>
               <li><a href="{% url 'category' 'D' %}" value = "D" id = "D" onclick = "category(id)">Diabetes</a></li>
               <li><a href="{% url 'category' 'O' %}" value = "O" id = "O" onclick = "category(id)">Persendian dan Otot</a></li>
            </ul>
          </div>
          
    <div class="categories">
        <h2 class = "head-title">{{values}}</h2>
        <form class = "d-flex" method = POST action ="{% url 'search' %}"> 
          {% csrf_token %}

        <input class = "search-bar" type = "search" placeholder="Search Item" aria-label = "Search" name = "searched">
        <button class = "btn btn-outline-success" type = "submit">Search</button>
      </form>
        <div class="row">
          {%if searched %}
          {% for item in items %}
          <div class="columns">
            <div class="img-btn">
                <div class = "popup" id = {{item.slug}}>
                    <div class="overlay"></div>
                    <div class="content">
                        <div class="close-btn" id = {{item.slug}} onclick="togglePopUp(this.id)">&times</div>
                        <img src="{{item.image.url}}" width = "540px" heigth = "540px">
                        <div class = "upper-popup">
                        <p class = "popup-name">{{item.title}}</p>
                        <p class = "popup-info">
                            {{item.description}}
                            </p>
                    </div>
                    </div>
                </div>

                <input type="image" id = {{item.slug}} src="{{item.image.url}}", width=100%/, onclick="togglePopUp(this.id)">
            </div>
            <h1 class = "titles">{{item.title}}</h1>
            <p class = "price">Rp. {{item.price}}</p>
            <div class="btns">
              <a class = "minus" onclick = "decreaseItem('{{item.slug}}','{{item.price}}')"><i class="fas fa-minus mr-2"></i></a>
              <a class = "counters" id = {{item.slug}}>0</a>
              <a class = "plus" onclick = "addItem('{{item.slug}}','{{item.price}}')"><i class="fas fa-plus ml-2"></i></a>
        </div>
        </div>
        {% endfor %}
        

        {% else %}
            {% for item in object_list %}
            <div class="columns">
                <div class="img-btn">
                    <div class = "popup" id = {{item.slug}}>
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" id = {{item.slug}} onclick="togglePopUp(this.id)">&times</div>
                            <img src="{{item.image.url}}" >
                            <div class = "upper-popup">
                            <p class = "popup-name">{{item.title}}</p>
                            <p class = "popup-info">
                                {{item.description}}
                                </p>
                        </div>
                        </div>
                    </div>

                    <input type="image" id = {{item.slug}} src="{{item.image.url}}", width=100%/, onclick="togglePopUp(this.id)">
                </div>
                <h1 class = "titles">{{item.title}}</h1>
                <p class = "price">Rp. {{item.price}}</p>
                <div class="btns">
                  <a class = "minus" onclick = "decreaseItem('{{item.slug}}','{{item.price}}')"><i class="fas fa-minus mr-2"></i></a>
                  <a class = "counters" id = {{item.slug}}>0</a>
                  <a class = "plus" onclick = "addItem('{{item.slug}}','{{item.price}}')"><i class="fas fa-plus ml-2"></i></a>
            </div>
            </div>
            {% endfor %}
            {% endif %}

        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination float-right">
            {% if object_list.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'category' values_category%}?page={{object_list.previous_page_number}}">Previous</a></li>
            {% endif %}
            {% if object_list.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'category' values_category%}?page={{object_list.next_page_number}}">Next</a></li>
            {% endif %}
          </ul>
        </nav>
    </div>
    <div class = "shopping-cart">
      <a href= "{% url 'product' %}" class = ><i class="fas fa-shopping-cart" style= "font-size:45px"></i></a>
    </div>
    
</div>
<div id = "item_total" class = "fixed-footer">
  <nav>
  <ul>
    <li>Total Price:</li>
    <li id ="ptotal">Rp.  </li>
    <a  class = "buttons" onclick = "order()">Add to Cart</a>
</ul>
</nav>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src = "/static/popup.js"></script>
    <script src='/static/font.js' crossorigin='anonymous'></script>

    {% endblock %}
    
  </body>

 {% include 'footer.html' %}
</html>
