<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
      .big-container{

        height: 77.3vh;}

        .mt-6 {
    margin-top: 70px !important;
    }

      


  </style>
    <script src='/static/font.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% include "navbarhomepage.html" %}
    {% block content %}
    


    <div class="big-container">
    <div class="container mt-6" >

      <div class="table-responsive text-nowrap">
      <h2>Cart</h2>
      <table class="table">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Item title</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Item Price</th>
          </tr>
          </thead>
          <tbody>
          {% for order_item in object.items.all %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ order_item.item.title }}</td>
              <td>{{ order_item.item.price }}</td>
              <td>
                  <a href="{% url 'remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                  {{ order_item.quantity }}
                  <a href="{% url 'add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
              </td>
              <td>
              {% if order_item.item.discount_price %}
                  ${{ order_item.get_total_discount_item_price }}
                  <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
              {% else %}
                  Rp. {{ order_item.get_total_item_price }}
              {% endif %}
              <a style='color: red;' href="{% url 'remove-from-cart' order_item.item.slug %}">
                  <i class="fas fa-trash float-right"></i>
              </a>
              </td>
          </tr>

          {% empty %}
          <tr>
              <td colspan='5'>Your cart is empty</td>
          </tr>
          <tr>
              <td colspan="5">
              <a class='btn btn-primary float-right' href='/buy/category/all/'>Continue shopping</a>
              </td>
          </tr>
          {% endfor %}
         
          {% if object.get_total %}
          <tr>
              <td colspan="4"><b>Order Total</b></td>
              <td><b>Rp. {{ object.get_total }}</b></td>
          </tr>
          <tr>
              <td colspan="5">
              <a class='btn btn-warning float-right ml-2' href='#' onclick= "checkout_alert()">Proceed to checkout</a>
              <a class='btn btn-primary float-right' href='/buy/category/all/'>Continue shopping</a>
              </td>
          </tr>
          {% endif %}
          </tbody>
      </table>
  
      </div>
  
      </div>
    </div>
    <script src = "/static/popup.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </main>
    {% endblock %}
    <div id="wrap">
        <div id="main" class="container clear-top">
        </div>
      </div>
        <footer class = "footer">
          <a class="suggestion" href=# style="color:#EEEEEE">Suggestion & Criticism</a>
        </footer>

