
<!DOCTYPE html>
<html lang="en">
<style>


    .navbar {
        font-family: Dosis;
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 0;
 

        background: #00ADB5;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }



    .nav-link {
        font-size : 18px;
        
        
    }

    .suggestion {
        float:right;
        padding-right: 55px;
        justify-content: space-around;
        padding-top: 15px;


        font-family: Dosis;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;


        color: #EEEEEE;
    }

    body {
      font-family: Dosis;
        background-color: #EEEEEE;
    }

    #account {
      margin-left : auto !important;
    }



#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  background-color : #222831;
  position: relative;
  margin-top: -110px; /* negative value of footer height */
  height: 110px;
  clear:both;
  padding-top:20px;
  z-index: 0;
  width: 100%;
} 


</style>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
  
  </head>
  <body>

      <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #00ADB5;">
  <a class="navbar-brand" href="#" style="color:#EEEEEE">HeyDoc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color:#EEEEEE">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#EEEEEE">
          About Covid-19
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" style="color:#222831">Covid-19 Statistics</a>
          <a class="dropdown-item" href="#" style="color:#222831">Covid-19 Related Articles</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:#EEEEEE">Vaccination Info</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#EEEEEE">
          Medicine
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" style="color:#222831">Drug Recommendation</a>
          <a class="dropdown-item" href="#" style="color:#222831">Buy Medicine</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:#EEEEEE">Consultation</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:#EEEEEE">{{ user.username }}</a>
      <li class="nav-item">
        <a class="nav-link" href=#>Logout</a>
      {% else %}
      <li class="nav-item dropdown" id="account">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#EEEEEE">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAccount">
          <a class="dropdown-item" href=# style="color:#222831">Registration</a>
          <a class="dropdown-item" href=# style="color:#222831">Login</a>
        </div>
      </li>
      {%endif%}
    </ul>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
{% block content %}
{% endblock %}
</html>