<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{% static "css/vaccination_info.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Vaccination Info</title>
</head>
{% include 'navbarhomepage.html' %}
<body>
{% block content %}
    <h1 id="mainheader">Vaccination Map</h1>  
        <div class="map-control" style = 'background-color: #595959;'>
            <div id='map'></div>
        </div>
    <script src="{% static "js/vaccination_info.js"%}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXGXurE52ohqxZX_ifKASU1NBJuno_CfU&callback=initMap"></script>
    <h2 style="text-align: center; margin-top: 5rem; font-family: Dosis;">Register For The Vaccine</h2>
    <form action="" method="post" id = 'form' class="form-inline justify-content-center" style="margin-top: 10px">
        <div class="form-group" style = 'background-color: #00ADB5; width: 50%'>
            {% csrf_token %}
            <div class="col-md-6 offset-md-3"  style= "height: 3rem;">
                <h5 style="font-family: Dosis;">Name</h5>
                {{form.name}}
            </div>
            <div class="col-md-6 offset-md-3">
                <h5 style="font-family: Dosis;">NIK</h5>
                {{form.NIK}}
            </div>
            <div class="col-md-6 offset-md-3">
                <h5 style="font-family: Dosis;">Vaccination Place</h5>
                {{form.VaccPlace}}    
            </div>
            <div class="col-md-6 offset-md-3">
                <h5 style="font-family: Dosis;">Date (YYYY/MM/DD)</h5>
                {{form.VaccDate}}
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </div>
        </div>
    </form>
    {% endblock %}
<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">\
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
    const form = document.getElementById('form');
    form.addEventListener("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : '{% url 'VaccinationInfo' %}', // the url where we want to POST
            data        : $('#form').serialize(), // our form data
            dataType    : 'json', // what type of data do we expect back from the server
            success     : function(data){
                if(data.msg ==='success'){
                    alert('Registered!');
                    form.reset()
                }
            }
        });
    }
</script>
<script>
function Scroll(){
  window.scrollTo(0, 700);
}
</script>
</body>
{% include 'footer.html' %}
</html>






