<div id="wrap">

    <div id="main" class="container clear-top">
    </div>
  </div>
    <footer class = "footer">
      <a class="suggestion" href="/suggestions/" style="color:#EEEEEE">Suggestion & Criticism</a>
    </footer>
