{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    h1 {
      margin-top: 50px !important;
      text-align : center;
      font-family : Dosis;
      font-weight: bolder !important;
      font-size : 100px !important;
    }

    h5 {
      text-align : center;
      font-family: Dosis;
      font-weight: bold !important;
      font-size: 25px !important;
    }

    h3{
      text-align : center;
      font-family: Dosis;
      font-weight: bolder !important;
      font-size: 50px !important;
      margin-top: 125px !important;
    }

    p {
      text-align: center;
      top: 0;
      font-family: Dosis;
      font-size: 30px;
      margin-top: 80px !important;
    }

    .logo{
      text-align: center;
      display: block;
    }

    h6{
      text-align : center;
      font-family: Dosis;
      font-size:25px !important;
      margin-top: 100px !important;
    }

    p1, p2, p3, p4{
      text-align: center;
      font-family: Dosis;
    }

    .container {
      text-align: center;
    }
</style>
<head>
    <title>HeyDoc</title>
    <meta charset="UTF-8" />
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src = "{% static 'covid_indonesia.js' %}"></script>
</head>
  {%block base_head%}{%endblock%}
<body>
  {% include 'navbarhomepage.html'%}
  {%block content%}
    <h1> Welcome to HeyDoc </h1>
    <h5> -Your personal Covid - 19 assistant - </h5>
    <p> In this pandemic era, HeyDoc is a platform to assist you. <br> 
    With our assistance, we strive to make your daily life easier through this pandemic</p>
    <h6>Indonesia's Covid - 19 Cases Right Now : </h6>
    <div class='container'>
    <p1>
    Positive :
    <span id ='positif'></span>
    </p1><br>
    <p2>
    Hospitalized :
    <span id ='dirawat'></span>
    </p2><br>
    <p3>
    Death Cases :
    <span id ='meninggal'></span>
    </p3><br>
    <p4>
    Healed :
    <span id ='sembuh'></span>
    </p4>
    </div>
    <h3> Our Services</h3>
    <div class='logo'>
      <a href="/article/news">
        <img src="{% static "/logo/info.png" %}" alt="Info" width="200" height="200">
      </a>
      <a href="/covid_drug_recommendations/">
        <img src="{% static "/logo/medicine.png" %}" alt="Info" width="200" height="200">
      </a>
      <a href="/consultation/">
        <img src="{% static "/logo/stethoscope.png" %}" alt="Info" width="200" height="200">
      </a>
      <a href="/vaccination_info/">
        <img src="{% static "/logo/syringe.png" %}" alt="Info" width="200" height="200">
      </a>
    </div>
  {% endblock %}
  </body>
  {% include 'footer.html' %}
</html>
