{%include 'navbarhomepage.html'%}
{%block content%}
<style>
    h1{
        text-width: bolder !important;
        font-size: 75px;
        text-align: center;
        font-family: Dosis;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    form {
        width: 25%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: Dosis;
    }

    .form-control{
        font-family: Dosis;
        border-radius: 80px;
        font-size: 24px;
    }

    .button {
        border-radius: 80px;
        border: none;
        font-size: 24px;
        padding: 2px 20px;
        margin : -10px 10px 385px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    #button1 {
        background-color: #00ADB5;
    }


    #button1:hover {
        background-color: #4CAF50;
        color: white;
    }

    #button2:hover {
        background-color: #f44336;
        color: white;
    }
</style>
    <div class="bigcontainer">
        <h1 class='login'>Login</h1>
            <form method="POST" action=""> 
                {% csrf_token %}
                <div class="form-group">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Email" name="email"><br>
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" placeholder="Password" name="password"><br>
                    </div>
                </div>
                <input type ="submit" class="button" id="button1" value="Submit">
                <input type="reset" class="button" id="button2" value="Cancel" href="/">
            </form>
    </div>
{%endblock%}
{% include 'footer.html' %}