#map{
    height: 70vh;
    width: 80%;
    margin: 1px auto;
    border: 1px #00ADB5;
    position:relative;
}


h1{
    color:blue;
    font-family: Dosis;
    text-align: center;
}

#mainheader{
    color: #393E46;
    margin-top: 4rem !important; 
    font-size: 80px;
}

#firstHeading{
    color: black;
}

#btnScroll{
    font-size: 20px;
    font-family: Dosis;
    text-align: center;
    border-radius: 5%;
    border: none;
}


.gm-style .gm-style-iw-d::-webkit-scrollbar-track, .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece, .gm-style-iw, .gm-style-iw-d{
    background-color:#00ADB5 !important;
    border-top-color: #00ADB5;
    border-right-color: #00ADB5;
}

.col-md-6{
    margin-top: 3rem;
    border-radius: 15%;
}

.btn{
    margin: 1rem 15rem;
    position: relative;
}

#container{
    background-color: #00ADB5;
    overflow-x: hidden !important;
}

.form-group{
    height: 35rem;
    width: 70rem;
    align-items: center;
}

form{
    margin: 0 20rem 2rem;
    
}

h5{
    color: white;
}

.map-bg{
    padding-left: 10px;
    background-color: #393E46;
}