*{
    font-family: Dosis;
    
}

h1{
    font-size: 2em !important; 
    font-weight: bolder !important
}

p{
    display: block !important; 
    margin-top: 1em !important; 
    margin-bottom: 1em !important; 
    margin-left: 0 !important; 
    margin-right: 0 !important;
}

.frame{
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

form{
    padding: 5px ;
    border-radius: 36px;
    background: #222831;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 70%;
    margin-top: 75px;
}

.container-1{
    margin-left: 35px;
    margin-right: 35px;
}

#name{
    padding: 10px 20px;
    border-radius: 36px;
    background-color: #4f545b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
}

.textbox{
    resize: none;
    padding: 20px 20px;
    border-radius: 36px;
    background: #4f545b;;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
    width: 80%;
}

input,textarea:focus{
    outline: none;
    border: none;
}

.button{
    border-radius: 36px;
    padding: 15px 25px;
    background: #00ADB5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title{
    color: white;
    font-weight: 100;
    margin-bottom: 12px;
    margin-top: 10px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.589);
}

input[type=submit]:hover {
    background-color: #008d94;
    cursor: pointer;
}

.layout1,.layout2{
    padding: 5px 35px;
    border-radius: 36px;
    background: #222831;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 100%;
}

.layout1{
    margin-right: 10px;
}

.layout2{
    height: 374px;
}

.bottom_panel{
    margin-top: 25px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 70%;
}

.comment-section{
    color: white;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 36px;
    background: #4f545b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 10px;
}

.question{
    color: white;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 36px;
    background: #4f545b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.question:hover{
    background-color: #008d94;
    cursor: pointer;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 150px;
    unicode-bidi: bidi-override;
    direction: rtl;
    position: relative;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rating > label {
    float:right;
    display: inline;
    padding: 0;
    position: relative;
    cursor: pointer;
    color: #008d94;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #008d94;
}

#ratingtitle{
    color: white;
    margin-top: 0;
    font-size: 60px !important;
    margin-top: 50px;
}

#totalstar{
    color: #008d94;
    font-size: 70px;
}

#totalreviews{
    color: white;
    font-size: 20px;
}
